/**
 * AJBnet.js informational site styles
 * @author sprky0
 */
html {}

body.AJBnet h1,
body.AJBnet h2,
body.AJBnet h3,
body.AJBnet p,
body.AJBnet ul,
body.AJBnet li,
body.AJBnet tr,
body.AJBnet td,
body.AJBnet dl,
body.AJBnet dt,
body.AJBnet dd {
	margin: 0; padding: 0;
	color: #000;
	font-family: helvetica;
}

body.AJBnet {
	margin: 0; padding: 0;
	width: auto;
}

body.AJBnet body {
	margin:0 auto;
	padding: 0;
}

body.AJBnet section.keytest {
	border: 1px solid #ccc;
	padding: 20px;	
}

body.AJBnet article h1 {
	font-size: 1.5em;
	margin-bottom: .2em;
	color: #4af;
}

body.AJBnet article h2 {
	font-size: 1.2em;
	margin-bottom: .5em;
	color: #333;
}

body.AJBnet h1 em {
	color: #FFFFFF;
	font-style: normal;
}

body.AJBnet header {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
	height: 60px; width: 100%;
	padding: 20px;
	background-color: rgba(255,200,200,.8);
	z-index: 100;
}

body.AJBnet header h1 {text-shadow: 0 1px 0 #ffa;}
body.AJBnet header h2 {text-shadow: 0 1px 0 #ffa;}
body.AJBnet header h1 em {text-shadow: 0 1px 0 #000;}
body.AJBnet header h2 em {text-shadow: 0 1px 0 #000;}

body.AJBnet footer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	background-color: rgb(180,255,180);
}

body.AJBnet footer h1 {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

body.AJBnet table {
	width: 100%;	
}

body.AJBnet table th {
	width: 20%;
	padding: 6px;
	text-align: left;
	background-color: #f0f0f0;
	font-size: .8em;
}

body.AJBnet table td {
	padding: 6px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	font-size: .8em;
}

body.AJBnet article {
	padding: 20px;
}

body.AJBnet article.header {
	background-color: #fed;
	border-bottom: 1px solid #fdd;
	padding-top: 125px;
}

body.AJBnet article.hilite {
	background-color: #def;
	border-top: 1px solid #ddf;
}

body.AJBnet section + section {
	margin-top: 20px;	
}

body.AJBnet section {
	padding-right: 170px;
}

body.AJBnet p {
	color: #555;
	font-size: .8em;
}

body.AJBnet code {
	display: block;
	margin-top: 5px;
	padding: 3px 10px;
	border-radius: 3px;
	font-family: courier;
	background-color: #f0f0f0;
	border: 1px solid #dddddd;
	color: #00aa00;
	font-size: .8em;
	white-space: pre;
}
	body.AJBnet code.inline {
		display:inline;		
	}

body.AJBnet nav.right {
	position: fixed; right: 20px; top: 20px;
}

nav.right div.testgroup {
	font-family: helvetica;
	font-size: .8em;	
}

body.AJBnet dl {
	margin-top: 10px;	
}

body.AJBnet dt {
	color: #555;
	font-size: .8em;
	font-weight: bold;
}
body.AJBnet dd {
	color: #555;
	font-size: .8em;
	margin-bottom: 10px;
}

body.AJBnet a.logo {
	background: url('../images/confused_devil.png') top left no-repeat;
	width: 150px;
	height: 150px;
	position: fixed;
	top: 20px; right: 20px;
	display: block;
	overflow:hidden;
	text-indent:-1000px;
	z-index: 200;
}

body.AJBnet nav.metalinks {
	width:100px;
	position:fixed;
	right:20px;
	bottom:20px;
}

body.AJBnet nav.metalinks a:hover {
	opacity:.6;
}

/**
 * Download icon by Turbomilk, via Iconfinder.net
 * @link http://www.iconfinder.com/icondetails/22775/32/arrow_down_download_icon
 */
body.AJBnet a.download {
	background: url('../images/download.png') top left no-repeat;
	width:32px;
	height:32px;
	display:inline-block;
	border:0;
	overflow:hidden;
	text-indent:-1000px;
	float:right;
	margin-right:10px;
}

/**
 * Github icon by Keyamoon, via Iconfinder.net
 * @link http://www.iconfinder.com/icondetails/83309/32/_icon
 */
body.AJBnet a.github {
	background: url('../images/github.png') top left no-repeat;
	width:32px;
	height:32px;
	display:inline-block;
	border:0;
	overflow:hidden;
	text-indent:-1000px;
	float:right;
}

body.AJBnet div#results {
	padding-top: 101px;
}

body.AJBnet div.gallery_view {
	z-index:2000;
	width:640px;
	height:480px;
	left:50%;
	top:50%;
	position:fixed;
	margin-left:-330px;
	margin-top:-250px;
	border: 10px solid #fff;
	background-color:#121212;
	box-shadow: 0 10px 50px rgba(0,0,0,.25);
}

body.AJBnet div.gallery_background {
	z-index:1000;
	background-color: #222;
	opacity:.8;
	position:fixed;
	top:0;left:0;
	width:100%;
	height:100%;
	display:block;
}

body.AJBnet div.gallery_inline_view {
	width: 640px;
	height: 480px;
	position: relative;	
}

body.AJBnet #gallery_inline_target {
	margin-top:10px;
	display:none;
	width:640px;
	border: 10px solid #fff;
}

body.AJBnet #gallery_inline_target button {
	opacity:.2; border: 0;
	background-color: #fff;
	width: 100px; height: 100%; position: absolute; z-index: 90;
	font-size: 4em;
}

body.AJBnet #gallery_inline_target button:hover {
	opacity:.8
}

body.AJBnet button.gallery_inline_view-previous {
	width: 100px;
	left: 0;
}

body.AJBnet button.gallery_inline_view-next {
	width: 100px;
	right: 0;
}
